* {
	box-sizing: border-box;
}

#board {
	width: 450px;
	height: 450px;
	background: white;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: space-evenly;
	box-sizing: content-box;
	border: 1px solid black;
}

.board-field {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board-field-active {
	cursor: pointer;
}

.board-field-ball {
	width: 50%;
	height: 50%;
	border-radius: 1000%;
	border: 1px solid black;
}

#next-display {
	display: flex;
	justify-content: space-evenly;
}

.nextDisplay-ball {
	width: 50px;
	height: 50px;
	border-radius: 1000%;
	border: 1px solid black;
}
