* {
	box-sizing: border-box;
}

#board {
	width: 450px;
	background: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: space-evenly;
	box-sizing: content-box;
	border: 1px solid black;
}

.board-field {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board-field-ball {
	width: 50%;
	height: 50%;
	border-radius: 1000%;
	border: 1px solid black;
}
