body {
	margin: 0;
	padding: 0;
	background: #cccccc;
}

* {
	box-sizing: border-box;
}

#game {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 600px;
	height: 455px;
	margin: 10px;
	background: yellow;
	padding-right: 2px;
}

#menu {
	flex: 1;
	height: 100%;
}
